*{
    margin:0;
    padding:0;
}
body{
    background-color:black;
}
.background{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    
    background: url("/css/wallpaper.jpg");
    background-size: cover;
    
    opacity: 85%;
    
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    display:block;
    width:50%;
    padding:10px;
    margin:auto;
    margin-top:10%;

    background-color: rgba(127, 255, 212, 0.514);
    border-radius: 50px;
    border-color:rgba(0, 255, 255, 0.418);
    box-shadow: 1px 2px 10px black;

    font: sans-serif;
    font-weight: 600;
    cursor:pointer;
    letter-spacing: 1px;
}

button:hover{
    transition:0.5s;
    opacity: 75%;
}

img{
    display:block;
    margin:auto;
    
}

iframe{
    top:0;
    left:0;
    position:absolute;
}
